In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Drop the un-necessary columns
data = data.drop(columns=['RowNumber','CustomerId','Surname'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Encode gender
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [6]:
# One-hot encode Geography
ohe_geography = OneHotEncoder()
geo_encoder = ohe_geography.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoder.astype(int).toarray(), columns=ohe_geography.get_feature_names_out(['Geography']))


data = pd.concat([data.drop(columns=['Geography']), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [7]:
# Divide into independent and dependent features
X = data.drop(columns=['EstimatedSalary'])
y = data['EstimatedSalary']

In [8]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

In [9]:
# Scaling the data
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('ohe_geography.pkl', 'wb') as file:
    pickle.dump(ohe_geography, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [12]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # O/p layer for regression
])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\DataAnalystBootcamp\End to End Projects\Deep Learning Project Using ANN\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\DataAnalystBootcamp\End to End Projects\Deep Learning Project Using ANN\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    X_train_scaled, y_train,
    validation_data=(X_test_scaled, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\DataAnalystBootcamp\End to End Projects\Deep Learning Project Using ANN\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\DataAnalystBootcamp\End to End Projects\Deep Learning Project Using ANN\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 23s 38ms/step - loss: 100388.8984 - mae: 100388.8984 - val_loss: 98556.7812 - val_mae: 98556.7812
Epoch 2/100
250/250 [==============================] - 4s 16ms/step - loss: 99763.6250 - mae: 99763.6250 - val_loss: 97277.7266 - val_mae: 97277.7266
Epoch 3/100
250/250 [==============================] - 5s 18ms/step - loss: 97526.3125 - mae: 97526.3125 - val_loss: 93969.4219 - val_mae: 93969.4219
Epoch 4/100
250/250 [==============================] - 2s 8ms/step - loss: 93047.2656 - mae: 93047.2656 - val_loss: 88310.1406 - val_mae: 88310.1406
Epoch 5/100
250/250 [==============================] - 2s 7ms/step - loss: 86385.2188 - mae: 86385.2188 - val_loss: 80799.2969 - val_mae: 80799.2969
Epoch 6/100
250/250 [==============================] - 2s 6ms/step - loss: 78251.6094 - mae: 78251.6094 - val_loss: 72558.8672 - val_mae: 72558.8672
Epoch 7/100
250/250 [==============================] - 2s 9ms/step - loss: 69822.1953 - mae: 69822.1953 - val_loss: 64796.9258 - val_mae: 64796.9258
Epoch 8/100
250/250 [==============================] - 2s 10ms/step - loss: 62403.0508 - mae: 62403.0508 - val_loss: 58663.4609 - val_mae: 58663.4609
Epoch 9/100
250/250 [==============================] - 2s 8ms/step - loss: 56954.6055 - mae: 56954.6055 - val_loss: 54526.8555 - val_mae: 54526.8555
Epoch 10/100
250/250 [==============================] - 2s 8ms/step - loss: 53562.1484 - mae: 53562.1484 - val_loss: 52374.8594 - val_mae: 52374.8594
Epoch 11/100
250/250 [==============================] - 3s 10ms/step - loss: 51749.1484 - mae: 51749.1484 - val_loss: 51386.8086 - val_mae: 51386.8086
Epoch 12/100
250/250 [==============================] - 3s 11ms/step - loss: 50872.5938 - mae: 50872.5938 - val_loss: 50973.3477 - val_mae: 50973.3477
Epoch 13/100
250/250 [==============================] - 2s 7ms/step - loss: 50453.0586 - mae: 50453.0586 - val_loss: 50767.4062 - val_mae: 50767.4062
Epoch 14/100
250/250 [==============================] - 2s 7ms/step - loss: 50255.6523 - mae: 50255.6523 - val_loss: 50668.9492 - val_mae: 50668.9492
Epoch 15/100
250/250 [==============================] - 1s 6ms/step - loss: 50145.2852 - mae: 50145.2852 - val_loss: 50617.2734 - val_mae: 50617.2734
Epoch 16/100
250/250 [==============================] - 2s 6ms/step - loss: 50069.0703 - mae: 50069.0703 - val_loss: 50578.8984 - val_mae: 50578.8984
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 50012.3398 - mae: 50012.3398 - val_loss: 50544.7773 - val_mae: 50544.7773
Epoch 18/100
250/250 [==============================] - 2s 6ms/step - loss: 49969.0234 - mae: 49969.0234 - val_loss: 50527.8203 - val_mae: 50527.8203
Epoch 19/100
250/250 [==============================] - 2s 7ms/step - loss: 49927.2617 - mae: 49927.2617 - val_loss: 50510.2734 - val_mae: 50510.2734
Epoch 20/100
250/250 [==============================] - 2s 7ms/step - loss: 49893.7930 - mae: 49893.7930 - val_loss: 50494.3203 - val_mae: 50494.3203
Epoch 21/100
250/250 [==============================] - 1s 6ms/step - loss: 49864.3203 - mae: 49864.3203 - val_loss: 50477.4570 - val_mae: 50477.4570
Epoch 22/100
250/250 [==============================] - 2s 7ms/step - loss: 49839.4609 - mae: 49839.4609 - val_loss: 50451.5625 - val_mae: 50451.5625
Epoch 23/100
250/250 [==============================] - 2s 6ms/step - loss: 49815.2734 - mae: 49815.2734 - val_loss: 50429.8984 - val_mae: 50429.8984
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49790.6602 - mae: 49790.6602 - val_loss: 50418.6055 - val_mae: 50418.6055
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49772.1328 - mae: 49772.1328 - val_loss: 50406.3125 - val_mae: 50406.3125
Epoch 26/100
250/250 [==============================] - 1s 6ms/step - loss: 49757.4961 - mae: 49757.4961 - val_loss: 50402.5273 - val_mae: 50402.5273
Epoch 27/100
250/250 [==============================] - 1s 6ms/step - loss: 49736.6211 - mae: 49736.6211 - val_loss: 50382.8359 - val_mae: 50382.8359
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 49716.9297 - mae: 49716.9297 - val_loss: 50381.0625 - val_mae: 50381.0625
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 49701.4141 - mae: 49701.4141 - val_loss: 50381.2344 - val_mae: 50381.2344
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49687.3477 - mae: 49687.3477 - val_loss: 50368.1836 - val_mae: 50368.1836
Epoch 31/100
250/250 [==============================] - 1s 6ms/step - loss: 49673.9258 - mae: 49673.9258 - val_loss: 50377.5977 - val_mae: 50377.5977
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49657.6602 - mae: 49657.6602 - val_loss: 50353.9922 - val_mae: 50353.9922
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 49640.8594 - mae: 49640.8594 - val_loss: 50355.6172 - val_mae: 50355.6172
Epoch 34/100
250/250 [==============================] - 2s 10ms/step - loss: 49628.4258 - mae: 49628.4258 - val_loss: 50352.6016 - val_mae: 50352.6016
Epoch 35/100
250/250 [==============================] - 2s 9ms/step - loss: 49614.9219 - mae: 49614.9219 - val_loss: 50350.4258 - val_mae: 50350.4258
Epoch 36/100
250/250 [==============================] - 3s 12ms/step - loss: 49602.8906 - mae: 49602.8906 - val_loss: 50341.4883 - val_mae: 50341.4883
Epoch 37/100
250/250 [==============================] - 2s 9ms/step - loss: 49591.9336 - mae: 49591.9336 - val_loss: 50340.8203 - val_mae: 50340.8203
Epoch 38/100
250/250 [==============================] - 3s 12ms/step - loss: 49579.7266 - mae: 49579.7266 - val_loss: 50347.0664 - val_mae: 50347.0664
Epoch 39/100
250/250 [==============================] - 3s 13ms/step - loss: 49569.9648 - mae: 49569.9648 - val_loss: 50342.5000 - val_mae: 50342.5000
Epoch 40/100
250/250 [==============================] - 4s 16ms/step - loss: 49563.4648 - mae: 49563.4648 - val_loss: 50343.7266 - val_mae: 50343.7266
Epoch 41/100
250/250 [==============================] - 5s 20ms/step - loss: 49553.1602 - mae: 49553.1602 - val_loss: 50344.1250 - val_mae: 50344.1250
Epoch 42/100
250/250 [==============================] - 2s 7ms/step - loss: 49545.5391 - mae: 49545.5391 - val_loss: 50343.7930 - val_mae: 50343.7930
Epoch 43/100
250/250 [==============================] - 2s 7ms/step - loss: 49540.2148 - mae: 49540.2148 - val_loss: 50344.4219 - val_mae: 50344.4219
Epoch 44/100
250/250 [==============================] - 2s 7ms/step - loss: 49528.5234 - mae: 49528.5234 - val_loss: 50336.9375 - val_mae: 50336.9375
Epoch 45/100
250/250 [==============================] - 2s 9ms/step - loss: 49521.0898 - mae: 49521.0898 - val_loss: 50340.2891 - val_mae: 50340.2891
Epoch 46/100
250/250 [==============================] - 2s 6ms/step - loss: 49516.2109 - mae: 49516.2109 - val_loss: 50337.4062 - val_mae: 50337.4062
Epoch 47/100
250/250 [==============================] - 2s 6ms/step - loss: 49508.8945 - mae: 49508.8945 - val_loss: 50320.7188 - val_mae: 50320.7188
Epoch 48/100
250/250 [==============================] - 2s 6ms/step - loss: 49501.1289 - mae: 49501.1289 - val_loss: 50337.1172 - val_mae: 50337.1172
Epoch 49/100
250/250 [==============================] - 2s 7ms/step - loss: 49498.5586 - mae: 49498.5586 - val_loss: 50347.4375 - val_mae: 50347.4375
Epoch 50/100
250/250 [==============================] - 2s 8ms/step - loss: 49485.1250 - mae: 49485.1250 - val_loss: 50329.7109 - val_mae: 50329.7109
Epoch 51/100
250/250 [==============================] - 2s 7ms/step - loss: 49481.0117 - mae: 49481.0117 - val_loss: 50338.9141 - val_mae: 50338.9141
Epoch 52/100
250/250 [==============================] - 2s 8ms/step - loss: 49472.8594 - mae: 49472.8594 - val_loss: 50330.4219 - val_mae: 50330.4219
Epoch 53/100
250/250 [==============================] - 2s 7ms/step - loss: 49468.9727 - mae: 49468.9727 - val_loss: 50331.7227 - val_mae: 50331.7227
Epoch 54/100
250/250 [==============================] - 2s 8ms/step - loss: 49462.9961 - mae: 49462.9961 - val_loss: 50337.6836 - val_mae: 50337.6836
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49458.0469 - mae: 49458.0469 - val_loss: 50329.3750 - val_mae: 50329.3750
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49454.9258 - mae: 49454.9258 - val_loss: 50341.3047 - val_mae: 50341.3047
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 49447.1016 - mae: 49447.1016 - val_loss: 50347.8633 - val_mae: 50347.8633

In [16]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6008 (pid 10248), started 0:01:00 ago. (Use '!kill 10248' to kill it.)

In [20]:
## Evaluate the model on test data
test_loss, test_mae = model.evaluate(X_test_scaled, y_test)

print(f"Test MAE: {test_mae}")

63/63 [==============================] - 0s 3ms/step - loss: 50320.7188 - mae: 50320.7188
Test MAE: 50320.71875

In [21]:
model.save('regressionmodel.h5')

d:\DataAnalystBootcamp\End to End Projects\Deep Learning Project Using ANN\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(